* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/*TEXT*/
	p {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1em;
		line-height: 1.5em;
		color: white;
	}

	h3 {
		font-family: 'Andada Pro', serif;
		font-size: 1.5em;
		line-height: 1.2em;
		color: white;
	}















/*HEADER*/
	header {
		position: fixed;
		width: 100%;
		background: rgb(34,42,53);
		height: 65px;
		z-index: 2;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 0%;
		border-bottom: 3px solid white;
	}



	li, a, button{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight:700;
		font-size: 1em;
		line-height: 1.5em;
		color: white;
		text-decoration: none;
		letter-spacing: 1.1px;
	}

	header button{
		font-weight: 400;
		background-color: rgb(34,42,53);
		text-decoration: none;
		border: none;
		padding: 9px 25px;
	}

	header button:hover{
		color:#00ab67
	}

	.logo{
		cursor: pointer;
		width: 90px;
		padding-top: 4vw;

	}

	.navigation_links{
		list-style: none;
	}

	.navigation_links li{
		display: inline-block;
		padding: 0 30px;
	}

	.navigation_links li a{
		transition:  all 0.3s ease 0s;
	}

	.navigation_links li a:hover {
		color:#00ab67;
	}



















/*CAROUSEL*/
	#carousel{
		width: 100%;
		height: 40vw; 
		overflow: hidden;
		position: relative;
		margin-top: 50px;
	}

	#carousel2{
		width: 100%;
		height: 100vh; 
		overflow: hidden;
		position: relative;
	}

	.carousel_image {
		width: 100%;
		height: auto;
		position: relative;
  		overflow: hidden;
  		display: block;
	}

	figcaption button{ 
		font-family: 'Source Sans Pro', sans-serif;
		font-weight:400;
		font-size: 2em;
		position: absolute;
		top: 35vw;
		left:10vw;
		background: transparent;
		padding-left: 15px;
		padding-right: 15px;
		outline: none;
   		border: 3px solid white;
   		background-color: rgb(34,42,53,0.2)
   		
	}

	figcaption button:hover{ 
		background-color: rgb(255,255,255,0.2)
	}

	




















/*BLOG POSTS*/
	.blogposts{
		display: grid;
		max-width: 80vw;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 5vw;
		margin-left: auto;
		margin-right: auto;
		grid-gap: 2em;
		position: relative;
		box-sizing: border-box;
	}

	.post{
		min-height: 350px; 
		background: rgb(34,42,53);
		display: flex;
		flex-direction: column;
		align-content: start;
	}

	.post_image{
		width: 100%;
		height: 45%;
		display: block;
		align-self: flex-start;

	}

	.post_title{
		text-align: center;
		padding-left:2em;
		padding-right:2em;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.post_summary {
		font-weight: 400;
		padding-left:2em;
		padding-right:2em;
		padding-bottom: 1.5em;
	}

	.post:hover{
		/*opacity: 80%;*/
		box-shadow: 0 0 0px 7px rgb(34,42,53);

	}




















/*FOOTER*/
	footer{
		min-height:  50vh;
		background: rgb(34,42,53);
	}

	img{
	display: block;
	}

	footer h3{
		text-align: center;
		padding-top: 30px;
		color: white ;
	}

	.footer_links{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-left: 10vw;
		margin-right: 10vw;
		text-align: center;
		padding-top: 3em;
	}

	.footer_links a:hover{
		color: #1561ad;
	}

	.footer_social {
		display: flex;
		grid-column-gap: 10px;
		flex-direction: row;
		justify-content: center;
	}

	.sociallogo{
		height: 40px;
		padding-top: 10px;
	}

	.sociallogo:hover {
		opacity: 60%;
	}

	.footer_text{
		padding: 3em;
		position: relative;
		text-align: center;
	}

	.footer_text a:hover{
		color: #1561ad;
	}

	.ontariologo{
		height:50px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 15px;
		padding-top: 10px;

	}



